{% from "photo-grid.njk" import render as photoGrid %}
<div class="page-inner page-inner--gallery">
  <h1 class="page-title page-title--gallery">commercial</h1>
  {{ photoGrid(commercialPhotos) }}
</div>
